body {
  margin: 0;
  padding: 4em 0;
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #000;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  @media screen and (max-width: 700px) {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 1em;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    font-size: 0.8em;
    color: #888;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 1em;
    letter-spacing: 0.03em;

    &:last-child {
      margin-right: 0;
    }
  }
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

img {
  vertical-align: bottom;
  display: inline-block;
  height: auto;
  max-width: 100%;

  &.third {
    max-width: calc(33.33% - 10%);
    margin-right: 5%;
  }
}

hgroup {
  margin-bottom: 2em;
  padding: 0 1em;
}

.date {
  color: #000;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;

  &:after {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: '';
    transition: all .2s ease;
  }

  &:hover {
    opacity: 0.7;

    &:after {
      transform: translate(0, 4px);
      opacity: 0.3;
    }
  }
}

header {
  margin-bottom: 4em;
}

section {
  margin-bottom: 4em;
}

picture {
  display: inline-block;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(0, -4px) scale(0.99);
  transform-origin: bottom;
  transition: all .3s cubic-bezier(0.35, 1.6, 0.7, 1);
  will-change: transform, box-shadow;
  box-shadow: 0 15px 35px rgba(#32325e, 0.1), 0 5px 15px rgba(#000, 0.07);

  &:hover {
    transform: translate(0, -4px) scale(1);
    box-shadow: 0 20px 45px rgba(#32325e, 0.12), 0 10px 25px rgba(#000, 0.09);
  }
}

.screenshot {
  padding: 4em;
  background-color: #eee;
  background-size: cover;
  background-position: center;

  a {
    &:hover {
      opacity: 1;
    }

    &:after {
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 1em;
  }
}

.brown { background-color: #F0E8E3; }
.blue { background-color: #E3EBF0; }
.white { background-color: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.sea { background-image: url('img/bg-sea.jpg'); }
.sundown { background-image: url('img/bg-sundown.jpg'); }
.mountains { background-image: url('img/bg-mountains.jpg'); }

